@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.30); /* changed to semi-transparent */
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
    border-left: 5px solid #F9A826;
    padding-left: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    font-style: italic;
}

blockquote p {
    color: white;
    font-size: 2rem;
    display: inline;
    line-height: 1.4;
}

  .left {
    grid-column: 6 / 12;
  }
  blockquote#scrollQuote {
    transform: translate3d(100%, 0, 0);
    transition: transform 2s;
  }
  
  .standout {
    grid-column: 2 / span 10;
    padding: 2rem;
    background: var(--dark-bg); /* changed to semi-transparent */
    font-size: 1.5rem;
    line-height: 1.7;
    margin-bottom: var(--spacing);
  }
  
  .contact-btn {
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--dark-bg);
    background-color: #F9A826;;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #E58F14;
  }
  #main-header {
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 1000px;
  }
  .github-link {
    color: white;
    text-decoration: none;
  }
  .github-link img {
    width: 16px;  /* Adjust size as needed */
    height: 16px; /* Adjust size as needed */
    margin-right: 5px;
  }